<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <string>You Got This!</string>
        <string>I&apos;m Glad You&apos;re Here</string>
        <string>You Make a Difference</string>
        <string>I Admire Your Passion</string>
        <string>Try It One More Time</string>
        <string>Smile. You Are Beautiful!</string>
        <string>The Best is Yet to Come</string>
        <string>Celebrate Who You Are</string>
        <string>You Are Enough</string>
        <string>Believe in Yourself</string>
        <string>You Can Do It!</string>
        <string>You Are Creative</string>
        <string>You Are Deserving</string>
        <string>Your Choices Make a Difference</string>
        <string>I Believe in You</string>
        <string>You Are Important</string>
        <string>You Are Strong</string>
        <string>Fight For Your Dreams</string>
        <string>Your&apos;e Awesome!</string>
        <string>Be Yourself</string>
        <string>You Can Do Anything</string>
        <string>This Too Shall Pass</string>
        <string>You Really Can Do It</string>
        <string>Today is The Day</string>
        <string>Fall Seven Times, Stand Up 8</string>
        <string>You Know More Than You Think</string>
        <string>If You Are Going Through Hell, Keep Going</string>
        <string>All Progress Takes Place Outside The Compfort Zone</string>
        <string>Keep Up The Good Work!</string>
        <string>You're On The Right Track</string>
        <string>You've Almost Got It</string>
        <string>What Are You Waiting For?</string>
        <string>You Are Stronger Than You Think</string>
        <string>You Are Loved</string>
    </array>
</plist>
