<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>&quot;You Got This!&quot;</string>
	<string>&quot;I&apos;m Glad You&apos;re Here&quot;</string>
	<string>&quot;You Make a Difference&quot;</string>
	<string>&quot;I Admire Your Passion&quot;</string>
	<string>&quot;Try It One More Time&quot;</string>
	<string>&quot;Smile. You Are Beautiful!&quot;</string>
	<string>&quot;The Best is Yet to Come&quot;</string>
	<string>&quot;Celebrate Who You Are&quot;</string>
	<string>&quot;You Are Enough&quot;</string>
	<string>&quot;Believe in Yourself&quot;</string>
	<string>&quot;You Can Do It!&quot;</string>
	<string>&quot;You Are Creative&quot;</string>
	<string>&quot;You Are Deserving&quot;</string>
	<string>&quot;Your Choices Make a Difference&quot;</string>
	<string>&quot;I Believe In You&quot;</string>
	<string>&quot;You Are Important&quot;</string>
	<string>&quot;You Are Strong&quot;</string>
	<string>&quot;Fight For Your Dreams&quot;</string>
	<string>&quot;Your&apos;e Awesome!</string>
	<string>&quot;Be Yourself&quot;</string>
	<string>&quot;You Can Do Anything&quot;</string>
</array>
</plist>
